snippet eq "Create an equation environment"
\begin{equation}
$0
\end{equation}
endsnippet

snippet paren "Surround in parentheses"
\left( ${VISUAL}$0 \right)
endsnippet

snippet lab "Create a label"
\label{$0}
endsnippet
